*[data-expounder] {
    text-decoration: underline;
    cursor: pointer;
}

@keyframes expoundedFadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

*[data-expounded] {
    display: none;
}
*[data-expounded].expounded-appear {
    display: initial;
    animation: expoundedFadeIn 1s;
}